name: NPM publish

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Set Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: yarn

      # - name: Typechecking
      #   run: yarn tsc

      # - name: Test
      #   run: yarn test

      - name: Build
        run: yarn build

      - name: Publish
        run: npm publish
        working-directory: ./pkg
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
